@page
@model IndexModel
@{
    ViewData["Title"] = "Mobile Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can buy <a asp-page="/Phones/Index">buy</a> or <a asp-page="/Phones/Create">sell</a> a smartphone.</p>
</div>
